# Visual Studio cache/working files
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
x64/
bin/
obj/
Debug/
Release/
[Bb]uild/
[Bb]in/

# Compiled binaries
*.exe
*.dll
*.lib
*.pdb
*.idb
*.ilk
*.app
*.cache
*.log

# Others
*.ipch
*.db
*.opendb
*.VC.db
*.enc